<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{ site.name }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width,viewport-fit=cover">
    <link rel="stylesheet" type="text/css" href="/styles.css" title="lensfuntheme">
    <link href="/imgs/favicon.png" rel="icon" type="image/png">
    <link rel="alternate" type="application/rss+xml" title="News - Lensfun" href="https://lensfun.github.io/feed/news.xml">
    <link rel="alternate" type="application/rss+xml" title="Changelogs - Lensfun" href="https://lensfun.github.io/feed/changelogs.xml">
    <link rel="alternate" type="application/rss+xml" title="Lens List - Lensfun" href="https://lensfun.github.io/feed/lenslist.xml">
    <meta name="theme-color" content="#74A0DA">
</head>
