
<div id="top-navigation">

<ul>
  <li class="dropdown"><a class="dropdown-button" href="/manual/v0.3.2">API Doc</a>
    <ul class="dropdown-content">
      <li><a href="/manual/latest">master</a></li>
      <li><a href="/manual/v0.3.95">v0.3.95 (alpha)</a></li>
      <li><a href="/manual/v0.3.2">v0.3.2 (stable)</a></li>
      <li><a href="/manual/v0.3.1">v0.3.1</a></li>
    </ul>
  </li>
  <li><a href="https://sourceforge.net/p/lensfun/mailman/lensfun-users/">Mailing list</a></li>
  <li>
    <a href="https://github.com/lensfun/lensfun" style="display: inline-flex; justify-content: center; gap: 0.5rem;">
    <svg aria-hidden="true" focusable="false" width="16" height="16" viewBox="0 0 24 24">
      <use xlink:href="/imgs/github-fill.svg#github-fill"></use>
    </svg>
    View Project on GitHub 
    </a>
  </li>
  
</ul>
<div style="clear:right"></div>


</div>
